button {
    border: none;
    padding: 16px;
    margin: 0 8px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    border: 0px solid;
    transition: .1s ease-in;

    &:hover {
        border-bottom-width: 4px;
        transform: translateY(-3px);
    }

    &:active {
        border-bottom-width: 0px;
    }

    &.primary {
        border-color: $path-cell;
        background-color: $path-cell-dark;
        color: #fff;

        &:hover {
            background: $path-cell;
            border-color: $path-cell-dark;

        }
    }
}