button {
    border: none;
    padding: 16px;
    margin: 0 8px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    border: 0px solid;
    transition: .1s ease-in;

    &:hover {
        border-bottom-width: 4px;
    }

    &:active {
        border-bottom-width: 0px;
    }

    &.primary {
        border-color: rgb(1, 84, 192);
        background-color: rgb(0, 102, 235);;
        color: #fff;

        &:hover {
            background: rgb(1, 103, 236);

        }
    }
}